{% extends 'news/base.html' %}
{% load static %}
{% block contant %}
    <div class='container my-3'>
    <h2>Search results:</h2>
    {% if allnews|length < 1 %}
    <p> no result found </p>
    <p> your search : <b>{{query}}</b> - did not match any documents.</p>
    Suggestions:<br>
    Try Different Keywords.

    {% endif %}

</div>
{% for news in allnews %}

<div class='container my-3'>

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 my-3 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{news.heading}}</h3>
          <div class="mb-1 text-muted">{{news.created}}</div>
          <p class="card-text mb-auto">{{news.news | truncatechars:300}}</p>
          <div class="my-2">
          <a href="/single_news/{{news.slug}}" role="button" class="btn btn-primary">Continue reading</a>
          </div>
        </div>
    {% endfor %}

        </div>
  </div>

{% endblock contant %}